ul.pagination {
  padding-left: 0px;
  padding-right: 0px;
}

.pagination li {
  display: inline-block;
}

.pagination li.current {
  background-color: #4caf50;
  color: white;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.imgWrap {
  overflow: hidden;
  width: 320px;
  height: 180px;
}
.imgWrap img {
  transition-duration: 0.2s;
}
.imgWrap img:hover {
  transform: scale(1.2);
  transition-duration: 0.2s;
}

.hit {
  color: #f00000;
  font-weight: bold;
}

/* https://saruwakakun.com/html-css/reference/buttons */

.square_btn {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: 0.4s;
  cursor: pointer;
}

.square_btn:hover {
  background: #67c5ff;
  color: white;
}

.square_btn2 {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #e4883d;
  border: solid 2px #e4883d;
  border-radius: 3px;
  transition: 0.4s;
  cursor: pointer;
}

.square_btn2:hover {
  background: #e4883d;
  color: white;
}
